body {
  margin: 0;
  background: #fff;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}
section {
  padding: 6.375rem 0;
}
/* Title */
.title_inner {
  text-align: center;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #222222;
}
.subtitle {
  font-size: 1rem;
  font-style: italic;
  color: #777777;
  margin-top: .5rem;
}
.intro {
  background: #777777 url(../images/intro/Clip.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.intro:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  position: absolute;
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.header.black {
  background-color: #222222;
}
.header.black .header_inner {
  margin-top: 0;
  margin: .5rem 0;
}
.header.black .nav_toggle {
  top: 1.3rem;
}
.header_inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2.25rem;
}
.logo {
  font-size: 1.85rem;
  color: #fed136;
  z-index: 50;
}
.nav_link {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-decoration: none;
  margin-left: 2.18rem;
  transition: color .3s linear;
}
.nav_link:first-child {
  margin-left: 0;
}
.nav_link:hover {
  color: #fed136;
}
.nav_toggle {
  display: none;
  background: 0;
  border: 0;
  padding: 9px 20px;
  cursor: pointer;
  position: fixed;
  top: 1.3rem;
  right: .5rem;
  z-index: 50;
}
.nav_toggle_item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  font-size: 0;
  color: transparent;
  position: relative;
}
.nav_toggle_item:after,
.nav_toggle_item:before {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: #fff;
}
.nav_toggle_item:after {
  width: 90%;
  top: 8px;
}
.nav_toggle_item:before {
  top: -8px;
}
.intro_inner {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 21rem;
  z-index: 5;
}
.intro_title {
  font-size: 2.5rem;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}
.intro_text {
  font-size: 4.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 1.85rem 0  4rem;
}
.intro_batton {
  font-size: 1.125rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  padding: 1.31rem 3.06rem;
  background-color: #fed136;
  border-radius: 5px;
  transition: .3s linear;
}
.intro_batton:hover {
  color: #fed136;
  background-color: #fff;
}
.services_inner {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}
.services_item {
  text-align: center;
  width: 31.5%;
}
.services_icon {
  width: 66px;
  height: 66px;
  border: 3px solid #fed136;
  border-radius: 50%;
  margin: 0 auto;
}
.services_title {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #222222;
}
.services_text {
  margin-top: .5rem;
  color: #777777;
  line-height: 1.5;
}
.portfolio {
  background-color: #F7F7F7;
}
.portfolio_inner {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio_item {
  margin-top: 3rem;
  width: 30%;
  height: 400px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3px;
  transition: background .3s linear;
}
.portfolio_item:hover {
  background-color: #fed136;
}
.portfolio_image {
  height: 18rem;
}
.portfolio_content {
  text-align: center;
  padding: 1.5rem 0;
}
.portfolio_title {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #222222;
}
.portfolio_prof {
  margin-top: .2rem;
  font-style: italic;
  color: #777777;
}
.about_us_inner {
  margin-top: 6rem;
}
.about_us_item {
  text-align: center;
  position: relative;
}
.about_us_item:after {
  content: "";
  display: block;
  width: 3px;
  height: 90px;
  background-color: #F1F1F1;
  margin: 0 auto;
  margin-top: -5px;
}
.about_us_item:last-child:after {
  display: none;
}
.about_us_item:nth-child(odd) .about_us_content {
  left: 2rem;
  text-align: right;
}
.about_us_item:nth-child(even) .about_us_content {
  right: 2rem;
  text-align: left;
}
.about_us_image {
  width: 170px;
  height: 170px;
  border: 8px solid #F1F1F1;
  border-radius: 50%;
  transition: border .3s linear;
}
.about_us_image:hover {
  border-color: #fed136;
}
.about_us_item_inner {
  display: flex;
  align-items: center;
  text-align: center;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  border: 8px solid #F1F1F1;
  border-radius: 50%;
  background-color: #fed136;
}
.about_us_item_inner:hover {
  transition: border .3s linear;
  border-color: #fed136;
}
.about_us_content {
  width: 33%;
  position: absolute;
  top: 0;
}
.about_us_header {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  color: #222222;
}
.about_us_text {
  margin-top: .8rem;
  color: #777777;
  line-height: 1.5;
}
.about_us_text_last {
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.team {
  background-color: #F9F9F9;
}
.team_inner {
  margin: 6rem 0  3rem;
  display: flex;
  justify-content: space-between;
}
.team_item {
  width: 30%;
  text-align: center;
}
.team_item_image {
  width: 220px;
  height: 220px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 auto;
}
.team_item_name {
  margin: 2rem 0 1.5rem;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #222222;
}
.team_item_prof {
  color: #777777;
}
.team_item_social {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.social_item {
  margin: 0 .5rem;
  width: 40px;
  height: 40px;
  border: 3px solid #000;
  border-radius: 50%;
}
.team_text {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: #777777;
}
section {
  padding: 4rem 0;
}
.platform_inner {
  display: flex;
  justify-content: space-around;
}
.contact {
  background: #222222 url(../images/contact/World.png) no-repeat;
  background-size: cover;
  background-position: 75rem 10rem;
}
.contact .title {
  color: #fff;
}
.contact_inner {
  margin-top: 5.5rem;
}
.form_inner {
  display: flex;
  justify-content: space-around;
}
.form_item {
  width: 47%;
}
.form_item input,
.form_item textarea {
  display: block;
  width: 100%;
  border: 2px solid #777777;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #777777;
  text-indent: 10px;
  transition: border .3s linear;
}
.form_item input:focus,
.form_item textarea:focus {
  outline: none;
  border-color: #fed136;
}
.form_item input:hover,
.form_item textarea:hover {
  border-color: #fed136;
}
.form_item input {
  margin-top: 2rem;
  padding: 1rem 0;
}
.form_item input:first-child {
  margin-top: 0;
}
.form_item textarea {
  height: 100%;
  padding-top: .9rem;
}
.form_submit {
  text-align: center;
  margin-top: 1.8rem;
}
.contact_submit {
  background-color: #fed136;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  padding: 1.3rem 2.7rem;
  transition: color .3s linear, background .3s linear;
}
.contact_submit:hover {
  color: #fed136;
  background-color: #fff;
}
.footer_inner {
  margin: 2.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_copyright {
  width: 38%;
  font-family: 'Montserrat', sans-serif;
  color: #777777;
}
.footer_social {
  width: 62%;
  display: flex;
}
.footer_social_item {
  width: 40px;
  height: 40px;
  margin-left: .6rem;
  border-radius: 50%;
  background-color: #000;
}
@media (max-width: 1200px) {
  /* Contact */
  .contact {
    background-position: 30rem 10rem;
  }
}
@media (max-width: 1000px) {
  /* Services */
  .services_inner {
    margin-top: 3rem;
    padding: 0 1rem;
  }
  /* Portfolio */
  .portfolio_inner {
    justify-content: space-around;
  }
  .portfolio_item {
    width: 35%;
  }
  .portfolio_image {
    width: 100%;
    height: auto;
  }
  /* Team */
  .team_inner {
    margin: 0 0  2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team_item {
    width: 70%;
    margin-top: 2rem;
  }
  /* Footer */
  .footer_inner {
    margin: 1.5rem 0;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .footer_copyright {
    width: 70%;
  }
  .footer_social {
    margin-top: 1rem;
    width: 70%;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  /* Section */
  section {
    padding: 3rem 0;
  }
  /* Header */
  .header_inner {
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
  }
  .nav_toggle {
    display: block;
  }
  .nav_toggle_item.active {
    background: transparent;
  }
  .nav_toggle_item.active:after,
  .nav_toggle_item.active:before {
    display: block;
    width: 100%;
    top: 0px;
  }
  .nav_toggle_item.active:after {
    transform: rotate(45deg);
  }
  .nav_toggle_item.active:before {
    transform: rotate(-45deg);
  }
  .logo {
    margin-left: 3rem;
  }
  .nav {
    display: none;
  }
  .nav.active {
    display: block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #222222;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    padding-top: 4rem;
  }
  .nav.active .nav_link {
    margin-left: 0;
    padding: 2rem 0;
    border-bottom: 2px solid #fff;
    transition: border .3s linear;
  }
  .nav.active .nav_link:first-child {
    border-top: 2px solid #fff;
  }
  .nav.active .nav_link:hover {
    border-color: #fed136;
  }
  /* Intro */
  .intro_inner {
    padding: 0 2rem;
    top: 23rem;
  }
  .intro_title {
    font-size: 2rem;
  }
  .intro_text {
    font-size: 4rem;
    margin: 1.85rem 0  3rem;
  }
  .intro_batton {
    padding: .9rem 2.5rem;
  }
  /* Title */
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: .8rem;
  }
  /* Services */
  .services_inner {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
  }
  .services_item {
    margin-top: 2rem;
    width: 70%;
  }
  /* Portfolio */
  .portfolio_item {
    width: 55%;
    height: 120%;
  }
  .portfolio_image {
    width: 100%;
  }
  /* About */
  .about_us_content {
    width: 25%;
  }
  .about_us_header {
    font-size: .8rem;
  }
  .about_us_text {
    font-size: .6rem;
  }
  .about_us_item:nth-child(odd) .about_us_content {
    left: 2.5rem;
  }
  .about_us_item:nth-child(even) .about_us_content {
    right: 2.5rem;
  }
  .about_us_text_last {
    font-size: 1rem;
    top: 25%;
  }
}
@media (max-width: 700px) {
  /* Platform */
  .platform_inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .platform_item {
    margin-top: 1.5rem;
    width: 70%;
    text-align: center;
  }
  /* Contact */
  .contact {
    background-position: 5rem 10rem;
  }
  .contact_inner {
    margin-top: 3rem;
  }
}
@media (max-width: 600px) {
  /* Intro */
  .intro_inner {
    padding: 0 1rem;
    top: 15rem;
  }
  .intro_title {
    font-size: 1.5rem;
  }
  .intro_text {
    font-size: 3rem;
  }
  /* About */
  .about_us_content {
    width: 20%;
  }
  .about_us_header {
    font-size: .6rem;
  }
  .about_us_text {
    font-size: .4rem;
  }
  .about_us_item:nth-child(odd) .about_us_content {
    left: 1rem;
  }
  .about_us_item:nth-child(even) .about_us_content {
    right: 1rem;
  }
  /* Contact */
  .form_inner {
    justify-content: center;
    flex-wrap: wrap;
  }
  .form_item {
    width: 70%;
  }
  .form_item textarea {
    margin-top: 2rem;
  }
  .contact_submit {
    margin-top: 1.5rem;
  }
}
@media (max-width: 400px) {
  /* Intro */
  .intro_inner {
    padding: 0 1rem;
    top: 10rem;
  }
  .logo {
    margin-left: 2rem;
  }
}
