// main: ../style.less;

.footer_inner {
	margin: 2.2rem 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer_copyright {
	width: 38%;

	font-family: @mont;
	color: @greyText;
}

.footer_social {
	width: 62%;

	display: flex;
}

.footer_social_item {
	width: 40px;
	height: 40px;

	margin-left: .6rem;

	border-radius: 50%;
	background-color: #000;
}