//main: ../style.less;

.services_inner {
	margin-top: 5rem;

	display: flex;
	justify-content: space-between;
}

.services_item {
	text-align: center;

	width: 31.5%;
}

.services_icon {
	width: 66px;
	height: 66px;

	border: 3px solid @yellow;
	border-radius: 50%;

	margin: 0 auto;
}

.services_title {
	margin-top: 1.5rem;

	font-size: 1.2rem;
	font-family: @mont;
	font-weight: 700;
	color: @title;
}

.services_text {
	margin-top: .5rem;

	color: @greyText;

	line-height: 1.5;
}